
.page_menu_touch_icon {
  display: block;
  margin: 10px auto;
}

.page__bottom {
  position: absolute;
  z-index: 10;
  width: 100%;
  bottom: 0;
}

.page__top {
  position: relative;
  z-index: 10;
}