
.product {
  padding: 0 28px;
  font-weight: lighter;
  font-size: 22px;
  overflow-y: scroll;
  position: relative;
  height: 100%;
}

.product__image {
  background-image: url(../img/cookie.svg);
  background-repeat: no-repeat;
  height: 180px;
  width: 180px;
  margin: auto;
}

.product__subtitle {
  display: flex;
  padding-top: 15px;
  text-align: center;
}

.product__subtitle_highlight {
  color: $primary-color;
  font-size: 45px;
  font-weight: 400;
}

.product__subtitle_classic {
  color: $subtitle-color;
  margin: 0;
  line-height: 20px;
  padding-top: 4px;
  text-align: left;
}

.product__image-2 {
  background-image: url(../img/smartphone.svg);
  width: 97px;
}

.message {
  font-size: 12px;
  overflow: scroll;
  width: 100%;
}

.message__bubble {
  border-radius: 13px;
  background-color: $background-color;
  padding: 0 14px;
  margin: 5px;
  max-width: 80%;

  &::after {
    clear: both;
  }
}

.message__bubble_computer {
  float: left;
}

.message__bubble_user {
  background-color: $message-color;
  color: #ffffff;
  float: right;
  text-align: right;
}

.chat {
  margin-top: 20px;
  background: $screen-color;
  padding: 5px 0;
}