
.page_menu_title{

  color: $primary-color;
  font-size: 36pt;
  font-weight: 400;
  text-align:center;
  margin: 5px 0;
}

.page_menu_subtitle{

  color: $subtitle-color;
  opacity: .65;
  font-size: 8pt;
  font-weight: 400;
  text-align:center;
  margin: 0;

  .page_menu_subtitle_highlight{

  color: $primary-color;

}

}

.heading_lg {

  margin: 50px;
  color: $text-color;

  .heading__first {

    opacity: 0.7;
    padding-left: 20px;

  }

  .heading__highlight {

    color: $primary-color;
    padding-left: 108px;

  }

  .heading__last {

    padding-left: 60px;
    opacity: 0.7;

  }

}